<p id="notice"><%= notice %></p>

<h1>Declarações</h1>

<table>
  <thead>
    <tr>
      <th>Nome da declaração</th>
      <th>Descrição declaração</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declarations.each do |declaration| %>
      <tr>
        <td><%= declaration.declaration_name %></td>
        <td><%= declaration.description %></td>

        <td><%= link_to t('app.show'), declaration %></td>
        <td><%= link_to t('app.edit'), edit_declaration_path(declaration) %></td>
        <td><%= link_to t('app.destroy'), declaration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to t('app.export'), export_declaration_path(declaration), target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('app.new_declaration'), new_declaration_path %>
